USE [master]
GO
/****** Object:  Database [DatabaseMasterPol]    Script Date: 29.01.2025 16:41:56 ******/
CREATE DATABASE [DatabaseMasterPol]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DatabaseMasterPol', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DatabaseMasterPol.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DatabaseMasterPol_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DatabaseMasterPol_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DatabaseMasterPol].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DatabaseMasterPol]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 29.01.2025 16:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdIndex] [int] NOT NULL,
	[IdArea] [int] NOT NULL,
	[IdCity] [int] NOT NULL,
	[IdStreet] [int] NOT NULL,
	[Home] [int] NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialTypeImport]    Script Date: 29.01.2025 16:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialTypeImport](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeMaterial] [nvarchar](50) NOT NULL,
	[PercentOfMaterialDefects] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_MaterialTypeImport] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NameArea]    Script Date: 29.01.2025 16:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NameArea](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Area] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NameArea] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NameCity]    Script Date: 29.01.2025 16:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NameCity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NameCity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NameDirector]    Script Date: 29.01.2025 16:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NameDirector](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Director] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NameDirector] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NameStreet]    Script Date: 29.01.2025 16:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NameStreet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NameStreet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NumberIndex]    Script Date: 29.01.2025 16:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumberIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameIndex] [int] NOT NULL,
 CONSTRAINT [PK_NumberIndex] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnerImport]    Script Date: 29.01.2025 16:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerImport](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTypePartner] [int] NOT NULL,
	[NamePartner] [nvarchar](50) NOT NULL,
	[IdNameDirector] [int] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[NumberPhone] [nvarchar](50) NOT NULL,
	[IdAddress] [int] NULL,
	[INN] [nvarchar](50) NOT NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_PartnerImport] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnerProductImport]    Script Date: 29.01.2025 16:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerProductImport](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProduct] [int] NOT NULL,
	[IdNamePartner] [int] NOT NULL,
	[QuantityProduct] [int] NOT NULL,
	[DateSale] [date] NOT NULL,
 CONSTRAINT [PK_PartnerProductImport] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImport]    Script Date: 29.01.2025 16:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImport](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTypeProduct] [int] NOT NULL,
	[NameProduct] [nvarchar](500) NOT NULL,
	[Article] [int] NOT NULL,
	[MinCostForPartner] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ProductImport] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTypeImport]    Script Date: 29.01.2025 16:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypeImport](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeProduct] [nvarchar](50) NOT NULL,
	[ProductTypeCoef] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_ProductTypeImport] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypePartner]    Script Date: 29.01.2025 16:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypePartner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TypePartner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([Id], [IdIndex], [IdArea], [IdCity], [IdStreet], [Home]) VALUES (1, 1, 5, 2, 4, 51)
INSERT [dbo].[Address] ([Id], [IdIndex], [IdArea], [IdCity], [IdStreet], [Home]) VALUES (2, 2, 1, 3, 5, 18)
INSERT [dbo].[Address] ([Id], [IdIndex], [IdArea], [IdCity], [IdStreet], [Home]) VALUES (3, 3, 4, 1, 2, 21)
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialTypeImport] ON 

INSERT [dbo].[MaterialTypeImport] ([Id], [TypeMaterial], [PercentOfMaterialDefects]) VALUES (1, N'Тип материала 1', CAST(0.10 AS Decimal(10, 2)))
INSERT [dbo].[MaterialTypeImport] ([Id], [TypeMaterial], [PercentOfMaterialDefects]) VALUES (2, N'Тип материала 2', CAST(0.95 AS Decimal(10, 2)))
INSERT [dbo].[MaterialTypeImport] ([Id], [TypeMaterial], [PercentOfMaterialDefects]) VALUES (3, N'Тип материала 3', CAST(0.28 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[MaterialTypeImport] OFF
GO
SET IDENTITY_INSERT [dbo].[NameArea] ON 

INSERT [dbo].[NameArea] ([Id], [Area]) VALUES (1, N'Архангельская')
INSERT [dbo].[NameArea] ([Id], [Area]) VALUES (2, N'Белгородская')
INSERT [dbo].[NameArea] ([Id], [Area]) VALUES (3, N'Кемеровская')
SET IDENTITY_INSERT [dbo].[NameArea] OFF
GO
SET IDENTITY_INSERT [dbo].[NameCity] ON 

INSERT [dbo].[NameCity] ([Id], [City]) VALUES (1, N'Приморск')
INSERT [dbo].[NameCity] ([Id], [City]) VALUES (2, N'Реутов')
INSERT [dbo].[NameCity] ([Id], [City]) VALUES (3, N'Северодвинск')
SET IDENTITY_INSERT [dbo].[NameCity] OFF
GO
SET IDENTITY_INSERT [dbo].[NameDirector] ON 

INSERT [dbo].[NameDirector] ([Id], [Director]) VALUES (1, N'Воробьева Екатерина Валерьевна')
INSERT [dbo].[NameDirector] ([Id], [Director]) VALUES (2, N'Иванова Александра Ивановна')
INSERT [dbo].[NameDirector] ([Id], [Director]) VALUES (3, N'Петров Василий Петрович')
SET IDENTITY_INSERT [dbo].[NameDirector] OFF
GO
SET IDENTITY_INSERT [dbo].[NameStreet] ON 

INSERT [dbo].[NameStreet] ([Id], [Street]) VALUES (1, N'Лесная')
INSERT [dbo].[NameStreet] ([Id], [Street]) VALUES (2, N'Парковая')
INSERT [dbo].[NameStreet] ([Id], [Street]) VALUES (3, N'Рабочая')
SET IDENTITY_INSERT [dbo].[NameStreet] OFF
GO
SET IDENTITY_INSERT [dbo].[NumberIndex] ON 

INSERT [dbo].[NumberIndex] ([Id], [NameIndex]) VALUES (1, 143960)
INSERT [dbo].[NumberIndex] ([Id], [NameIndex]) VALUES (2, 164500)
INSERT [dbo].[NumberIndex] ([Id], [NameIndex]) VALUES (3, 188910)
SET IDENTITY_INSERT [dbo].[NumberIndex] OFF
GO
SET IDENTITY_INSERT [dbo].[PartnerImport] ON 

INSERT [dbo].[PartnerImport] ([Id], [IdTypePartner], [NamePartner], [IdNameDirector], [Email], [NumberPhone], [IdAddress], [INN], [Rating]) VALUES (1, 1, N'База Строитель', 2, N'aleksandraivanova@ml.ru', N'+7(493) - 123-45-67', 5, N'2222455179', 7)
INSERT [dbo].[PartnerImport] ([Id], [IdTypePartner], [NamePartner], [IdNameDirector], [Email], [NumberPhone], [IdAddress], [INN], [Rating]) VALUES (2, 1, N'МонтажПро', 5, N'stepanov@stepan.ru', N'+7(912) - 888-33-33', 4, N'5552431140', 10)
INSERT [dbo].[PartnerImport] ([Id], [IdTypePartner], [NamePartner], [IdNameDirector], [Email], [NumberPhone], [IdAddress], [INN], [Rating]) VALUES (3, 3, N'Паркет 29', 3, N'vppetrov@vl.ru', N'+7(987) - 123-56-78', 2, N'3333888520', 7)
SET IDENTITY_INSERT [dbo].[PartnerImport] OFF
GO
SET IDENTITY_INSERT [dbo].[PartnerProductImport] ON 

INSERT [dbo].[PartnerProductImport] ([Id], [IdProduct], [IdNamePartner], [QuantityProduct], [DateSale]) VALUES (1, 4, 1, 15500, CAST(N'2023-03-23' AS Date))
INSERT [dbo].[PartnerProductImport] ([Id], [IdProduct], [IdNamePartner], [QuantityProduct], [DateSale]) VALUES (2, 2, 1, 12350, CAST(N'2023-12-18' AS Date))
INSERT [dbo].[PartnerProductImport] ([Id], [IdProduct], [IdNamePartner], [QuantityProduct], [DateSale]) VALUES (3, 3, 1, 37400, CAST(N'2024-06-07' AS Date))
SET IDENTITY_INSERT [dbo].[PartnerProductImport] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImport] ON 

INSERT [dbo].[ProductImport] ([Id], [IdTypeProduct], [NameProduct], [Article], [MinCostForPartner]) VALUES (1, 3, N'Инженерная доска Дуб Французская елка однополосная 12 мм', 8858958, CAST(7330.99 AS Decimal(18, 2)))
INSERT [dbo].[ProductImport] ([Id], [IdTypeProduct], [NameProduct], [Article], [MinCostForPartner]) VALUES (2, 1, N'Ламинат Дуб дымчато-белый 33 класс 12 мм', 7750282, CAST(1799.33 AS Decimal(18, 2)))
INSERT [dbo].[ProductImport] ([Id], [IdTypeProduct], [NameProduct], [Article], [MinCostForPartner]) VALUES (3, 1, N'Ламинат Дуб серый 32 класс 8 мм с фаской', 7028748, CAST(3890.41 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ProductImport] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductTypeImport] ON 

INSERT [dbo].[ProductTypeImport] ([Id], [TypeProduct], [ProductTypeCoef]) VALUES (1, N'Ламинат', CAST(2.35 AS Decimal(10, 2)))
INSERT [dbo].[ProductTypeImport] ([Id], [TypeProduct], [ProductTypeCoef]) VALUES (2, N'Массивная доска', CAST(5.15 AS Decimal(10, 2)))
INSERT [dbo].[ProductTypeImport] ([Id], [TypeProduct], [ProductTypeCoef]) VALUES (3, N'Паркетная доска', CAST(4.34 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ProductTypeImport] OFF
GO
SET IDENTITY_INSERT [dbo].[TypePartner] ON 

INSERT [dbo].[TypePartner] ([Id], [Type]) VALUES (1, N'ЗАО')
INSERT [dbo].[TypePartner] ([Id], [Type]) VALUES (2, N'ОАО')
INSERT [dbo].[TypePartner] ([Id], [Type]) VALUES (3, N'ООО')
SET IDENTITY_INSERT [dbo].[TypePartner] OFF
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_NameArea] FOREIGN KEY([IdArea])
REFERENCES [dbo].[NameArea] ([Id])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_NameArea]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_NameCity] FOREIGN KEY([IdCity])
REFERENCES [dbo].[NameCity] ([Id])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_NameCity]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_NameStreet] FOREIGN KEY([IdStreet])
REFERENCES [dbo].[NameStreet] ([Id])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_NameStreet]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_NumberIndex] FOREIGN KEY([IdIndex])
REFERENCES [dbo].[NumberIndex] ([Id])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_NumberIndex]
GO
ALTER TABLE [dbo].[PartnerImport]  WITH CHECK ADD  CONSTRAINT [FK_PartnerImport_Address] FOREIGN KEY([IdAddress])
REFERENCES [dbo].[Address] ([Id])
GO
ALTER TABLE [dbo].[PartnerImport] CHECK CONSTRAINT [FK_PartnerImport_Address]
GO
ALTER TABLE [dbo].[PartnerImport]  WITH CHECK ADD  CONSTRAINT [FK_PartnerImport_NameDirector] FOREIGN KEY([IdNameDirector])
REFERENCES [dbo].[NameDirector] ([Id])
GO
ALTER TABLE [dbo].[PartnerImport] CHECK CONSTRAINT [FK_PartnerImport_NameDirector]
GO
ALTER TABLE [dbo].[PartnerImport]  WITH CHECK ADD  CONSTRAINT [FK_PartnerImport_TypePartner] FOREIGN KEY([IdTypePartner])
REFERENCES [dbo].[TypePartner] ([Id])
GO
ALTER TABLE [dbo].[PartnerImport] CHECK CONSTRAINT [FK_PartnerImport_TypePartner]
GO
ALTER TABLE [dbo].[PartnerProductImport]  WITH CHECK ADD  CONSTRAINT [FK_PartnerProductImport_PartnerImport] FOREIGN KEY([IdNamePartner])
REFERENCES [dbo].[PartnerImport] ([Id])
GO
ALTER TABLE [dbo].[PartnerProductImport] CHECK CONSTRAINT [FK_PartnerProductImport_PartnerImport]
GO
ALTER TABLE [dbo].[PartnerProductImport]  WITH CHECK ADD  CONSTRAINT [FK_PartnerProductImport_ProductImport] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[ProductImport] ([Id])
GO
ALTER TABLE [dbo].[PartnerProductImport] CHECK CONSTRAINT [FK_PartnerProductImport_ProductImport]
GO
ALTER TABLE [dbo].[ProductImport]  WITH CHECK ADD  CONSTRAINT [FK_ProductImport_ProductTypeImport] FOREIGN KEY([IdTypeProduct])
REFERENCES [dbo].[ProductTypeImport] ([Id])
GO
ALTER TABLE [dbo].[ProductImport] CHECK CONSTRAINT [FK_ProductImport_ProductTypeImport]
GO
USE [master]
GO
